.user {
    text-align: center;
    width: 93px;
    color: rgb(226, 142, 24);
    position: absolute;
    bottom: 0px;
    left: 64%;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(226, 142, 24);
    border-image: initial;
    padding: 0px;
    background: rgb(255, 230, 196);
}