@import url('https://fonts.googleapis.com/css?family=Raleway|PT+Mono|Poiret+One&subset=cyrillic');

h1 {
  font-family: 'Poiret One';
}

h2 {
 font-family: 'PT Mono';
}

p {
  font-family: 'Raleway';
  line-height: 32px;
  margin-bottom: 34px;
}

.title-container {
  width: 100%;
  position: absolute;
  top: 0;
}

.title {
    width: 50%;
    text-align: center;
    border-top-color: #ffffff;
    border-width: 7px 0 21px 0;
    border-style: solid;
    border-bottom-color: #e4e4e4;
    transition: all .2s;
    z-index: 1;
    margin: auto;

}

.title:hover {
  border-top-color: #fff;
  border-bottom-color: #afafaf;
  border-width: 7px 0 28px 0;
  transition: all .2s;
  width: 47%;
}



.title h1 {
    font-size: 44px;
    margin-bottom: -16px;
}

.container {
    width: 920px;
    height: 600px;
    position: relative;
    margin: 183px auto auto;
}

.text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    text-align: center;
    height: 500px;
}

.content {
  margin-top: 95px;
}



.effect6 {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px, rgba(0, 0, 0, 0.3) 0px 0px 20px inset;
}

.effect6::before, .effect6::after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 12px;
    top: 50%;
    bottom: 0px;
    left: 10px;
    right: 10px;
    border-radius: 100px 10px;
}

.effect6::after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 12px;
    top: 50%;
    bottom: 0px;
    left: 10px;
    right: 10px;
    border-radius: 100px 10px;
}

.effect6::after {
    right: 10px;
    left: auto;
    transform: skew(8deg) rotate(3deg);
}

.view {
    text-align: center;
    width: 400px;
    color: rgb(42, 41, 37);
    margin-left: 440px;
    margin-top: 180px;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(42, 41, 37);
    border-image: initial;
    border-radius: 6px;
    background: rgb(228, 228, 228);
}

.view h1 {
    margin: 6px;
}

.reducer-third {
    font-size: 15px;
    color: rgb(231, 29, 54);
    width: 180px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 28px;
    left: 572px;
    opacity: 0.7;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(231, 29, 54);
    border-image: initial;
    border-radius: 6px;
    background: rgb(247, 227, 229);
}

.reducer-second {
    font-size: 15px;
    color: rgb(231, 29, 54);
    width: 180px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 37px;
    left: 559px;
    opacity: 0.7;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(231, 29, 54);
    border-image: initial;
    border-radius: 6px;
    background: rgb(247, 227, 229);
}

.reducer {
    font-size: 15px;
    color: rgb(231, 29, 54);
    width: 180px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 45px;
    left: 547px;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(231, 29, 54);
    border-image: initial;
    border-radius: 6px;
    background: rgb(247, 227, 229);
}

.middleware {
    font-size: 10px;
    color: rgb(183, 198, 255);
    width: 102px;
    display: flex;
    justify-content: center;
    transform: rotate(90deg);
    position: absolute;
    top: 51px;
    right: 414px;
    opacity: 0.4;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(183, 198, 255);
    border-image: initial;
    border-radius: 6px;
    background: rgb(255, 255, 255);
}



.action-container {
  position: relative;
  margin-left: 150px;
}

.action-zero {
    font-size: 10px;
    color: rgb(33, 89, 144);
    width: 120px;
    display: flex;
    justify-content: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 69, 68);
    background: rgb(255, 169, 168);
    border-radius: 50%;
    position: absolute;
    top: -150px;
    left: 410px;
}

.action-one {
    font-size: 10px;
    color: rgb(33, 89, 144);
    width: 120px;
    display: flex;
    justify-content: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(34, 189, 48);
    background: rgb(165, 228, 171);
    border-radius: 50%;
    position: absolute;
    top: -170px;
    left: 457px;
}

.action-two {
    font-size: 10px;
    color: rgb(33, 89, 144);
    width: 120px;
    display: flex;
    justify-content: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(216, 110, 197);
    background: rgb(255, 213, 248);
    border-radius: 50%;
    position: absolute;
    top: -180px;
    left: 432px;
}


.action-three {
    font-size: 10px;
    color: rgb(33, 89, 144);
    width: 120px;
    display: flex;
    justify-content: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 129, 66);
    border-image: initial;
    background: rgb(255, 189, 156);
    border-radius: 50%;
    position: absolute;
    top: -167px;
    left: 411px;
}

.action-four {
    font-size: 10px;
    color: rgb(33, 89, 144);
    width: 120px;
    display: flex;
    justify-content: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(255, 240, 47);
    border-image: initial;
    background: rgb(255, 252, 213);
    border-radius: 50%;
    position: absolute;
    top: -152px;
    left: 439px;
}

.action-five {
    font-size: 10px;
    color: rgb(33, 89, 144);
    width: 120px;
    display: flex;
    justify-content: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(33, 89, 144);
    border-image: initial;
    background: rgb(213, 216, 255);
    border-radius: 50%;
    position: absolute;
    top: -160px;
    left: 429px;
    box-shadow: 1px 1px 8px #656464;
}

.state {
    border-width: 0 0 8px 0;
    border-style: solid;
    padding-bottom: 5px;
    border-color: yellow;
    position: absolute;
    top: 69px;
    right: 46px;
    opacity: .7;
    width: 80px;
    text-align: center;
}

.state h2 {
    margin: -13px;
    padding: 0;
}

.event {
    border-width: 0 0 8px 0;
    border-style: solid;
    width: 80px;
    text-align: center;
    padding-bottom: 5px;
    border-color: yellow;
    position: absolute;
    bottom: 114px;
    right: 236px;

    opacity: .7;
}

.event h2 {
    margin: -13px;
    padding: 0;
}

.store {
    text-align: center;
    width: 500px;
    height: 142px;
    color: rgb(46, 196, 182);
    margin-left: 392px;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(46, 196, 182);
    border-image: initial;
    border-radius: 6px;
    background: rgb(183, 255, 247);
}

.store h1 {
    position: absolute;
    top: -70px;
    left: 221px;
}

.user {
    text-align: center;
    width: 93px;
    color: rgb(226, 142, 24);
    position: absolute;
    bottom: 0px;
    left: 64%;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: rgb(226, 142, 24);
    border-image: initial;
    padding: 0px;
    background: rgb(255, 230, 196);
}